<div class="contianer">

 <div role="form" class="form col-md-6">

<div class="form-group">
   <%= form_for @question do |f| %>
   <%= f.text_field :title %>
   <%= f.text_area :description, size: "60x12" %>
   <%= f.submit "Create Question" %>
   <% end %>
     </div>



 </div>


</d