<div class="container">
  <h1>Welcome to questions</h1>

  <%= link_to "Ask a question", new_question_path, :class => "btn btn-default"  %>

<h1>Popular exsisting quesitons</h1>
  <!-- Popular questions exsisting -->

</div>
